.cm-content-wrapper #rouw-content {
    background-color: white;
    padding: 20px;
}
.cm-content-wrapper #rouw-content input[type=button] {
    margin-left: 0;
    margin-bottom: 10px;
}
.cm-content-wrapper #rouw-content {
    max-width: 940px;
    margin: 0 auto;
}
.cm-content-wrapper #rouw-content article {
    background: #eee;
    border-radius: 3px;
    margin-bottom: 20px;
}
.cm-content-wrapper .deceased-img {
    float: left;
    padding: 2%;
    padding-bottom: 0;
    padding-right: 3%;
    width: 27%;
    overflow: hidden;
    height: 100%;
}
.cm-content-wrapper .deceased-img img {
    max-width: 100%;
    border: 4px solid white;
    border-radius: 2px;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.cm-content-wrapper .deceased-info {
    margin-top: 2%;
    padding-right: 5%;
    float: left;
    width: 63%;
    font-size: small;
}
.cm-content-wrapper .rouw-content div a, .cm-content-wrapper .deceased-info {
    margin-bottom: 2%;
}
.cm-content-wrapper .deceased-subtitle {
    color: #6e0b92 ;
    font-weight: bold;
    font-size: 0.9rem;
}
.cm-content-wrapper .deceased-name {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.cm-content-wrapper #comments {
    padding: 2%;
}
.cm-content-wrapper .deceased-post-title {
    font-weight: bold;
}
.cm-content-wrapper #reply-title {
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.cm-content-wrapper #info_text{
    text-align: center;;
}
.cm-content-wrapper #comments {
    clear: both;
}
.cm-content-wrapper ol.comment {
    list-style: none;
    background-color: #f6f6f6 ;
    border-radius: 2px;
    padding: 5px;
    padding-left:10px;
    margin-left: 0;
}
.cm-content-wrapper .comment h3 {
    font-size: 1rem;
    margin-bottom: 0;
}
.cm-content-wrapper .cm_clear{
    clear: both;
}