span.cm_field_mapping_delete {
	float: right;
	padding-right: 10px;
	color: red;
	cursor: pointer;
}

span.cm_field_mapping_add {
	float: right;
	padding-right: 10px;
	color: green;
	cursor: pointer;
}

div.field_wrap{
	border: 1px solid #d3d3d3;
	margin-top: 15px;
 }

div.field_wrap ul{
	margin: 10px;
}

li.ui-state-default.ui-sortable-handle{
	padding-left: 10px;
	cursor:move;
}

div.field_wrap input.button {
	margin: 10px !important;
}

p.info{
	margin: 0;
}

ul.hide.border{
	border: 1px solid green;
}

ul.hide li{
	width: 240px;
	display: inline-block;
	margin: 10px;
}

div.migrating{
	margin-top: 20px;
}

div.migrating p{
	margin-bottom: 10px;
}

#progress_migrating, #progress_posttype{
	width:80%;
	margin-top:10px;
	display: block;
}
