#cm-content-wrapper,
#ct_div {
	background-color: #fff;
	padding: 20px;
}
#cm-content-wrapper.alignwide,
#ct_div {
	max-width: 120rem;
	width: 120rem;
	margin-left: auto;
	margin-right: auto;
}
#cm-content-wrapper .cm-content nav {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
}
#cm-content-wrapper .cm-content .cm-entry-content > article {
	background: #eee;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
}
#cm-content-wrapper .cm-content article:after,
#cm-content-wrapper ol.commentlist footer:after,
#ct_div .form-group:after,
#ct_div .description:after {
	content: "";
	display: table;
	clear: both;
}
#cm-content-wrapper .deceased-img {
	padding: 2% 3% 2% 2%;
	width: 30%;
	min-height: 252px;
}
#cm-content-wrapper .deceased-img img {
	max-width: 100%;
	border: 4px solid #fff;
	border-radius: 2px;
	height: max-content;
	object-fit: cover;
}
#cm-content-wrapper .deceased-info {
	margin: 2% 0;
	width: 68%;
}
#cm-content-wrapper .deceased-info-header {
	font-weight: bold;
}
#cm-content-wrapper .deceased-info-header::after {
	content: ":";
}
#cm-content-wrapper .deceased-name {
	font-size: 2.8rem;
	margin: 0 0 20px 0;
}
#cm-content-wrapper .deceased-subtitle {
	font-size: 1.7rem;
	font-weight: 500;
	margin: 0 0 20px 0;
}
#cm-content-wrapper p {
	margin-bottom: 15px;
	font-size: 1.5rem;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
#cm-content-wrapper .cm-buttons-wrapper {
	display: flex;
	flex-direction: row;
}
#cm-content-wrapper .cm-buttons-wrapper input[type=button] {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0 10px 10px 20px;
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
}
#cm-content-wrapper .cm-buttons-wrapper input[type=button]:active,
#cm-content-wrapper .cm-buttons-wrapper input[type=button]:hover,
#cm-content-wrapper .cm-buttons-wrapper input[type=button]:focus {
	filter: brightness(85%);
}
#cm-content-wrapper input[type=button]:disabled {
	background: lightgrey;
}
#cm-content-wrapper .cm-buttons-wrapper input[type=button]:first-of-type {
	margin-left: 0;
}
#cm-content-wrapper .comments h3,
#cm-content-wrapper .comments-list h3,
#ct_div .description h2,
#cm-order-form .cm-order-form--title {
	font-size: 2.4rem;
	margin: 0 0 20px 0;
}
#cm-content-wrapper .comments-list #comment-status .ajax-error {
	color: #900;
	max-width: unset;
	text-align: center;
}
#cm-content-wrapper .comments #info_text,
#cm-content-wrapper .comments-list #info_text,
#cm-content-wrapper .comments .comment-notes,
#cm-content-wrapper .comments-list .logged-in-as {
	max-width: unset;
	text-align: center;
}
#cm-content-wrapper .comments .comment-notes,
#cm-content-wrapper .comments-list .logged-in-as,
#cm-content-wrapper .comments-list .comment-notes {
	margin: 0 0 4rem;
}
#cm-content-wrapper .comments .comment-form-cookies-consent,
#cm-content-wrapper .comments-list .comment-form-cookies-consent {
	clear: both;
}
#cm-content-wrapper .comments-list .comment-form-url {
	display: none;
}
#cm-content-wrapper ol.commentlist {
	list-style: none;
	margin-left: 0;
}
#cm-content-wrapper ol.commentlist .avatar {
	float: left;
	position: static;
	margin-right: 15px;
}
#cm-content-wrapper ol.commentlist .comment-author .fn {
	padding-right: 8px;
}
#cm-content-wrapper ol.commentlist .comment-reply-link {
	display: inline-block;
	text-decoration: none;
}
#cm-content-wrapper #stream-embed > div {
	padding-bottom: calc((9 / 16) * 100%);
	position:relative;
}
#cm-content-wrapper #stream-embed > div > div {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#cm-content-wrapper #stream-embed > div > div iframe {
	width: 100%;
	height: 100%;
}
#ct_div,
#cm-order-form {
	padding: 30px 0;
}
#ct_div .form-group {
	margin-bottom: 10px;
}
#ct_div .form-group:before,
#ct_div .description:before {
	display: table;
	content: " ";
}
#ct_div .col-sm-2,
#ct_div .col-sm-10,
#ct_div .col-sm-4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
#ct_div .description {
	padding-top: 30px;
}
#ct_div .radio {
	position: relative;
	display: block;
	margin: 10px 0;
}
#ct_div .radio label {
	min-height: 20px;
	padding-left: 0;
	padding-right: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}

#ct_div input[type="text"],
#ct_div input[type="number"],
#ct_div input[type=email],
#ct_div input[type="tel"],
#cm-order-form input[type="text"],
#cm-order-form input[type="number"],
#cm-order-form input[type=email],
#cm-order-form input[type="tel"] {
	width: 100%;
}
#ct_div input[type="radio"] {
	margin-right: 10px;
}
#ct_div input[type="number"] {
	padding: 7px 10px;
}
.succes{
	background-color: #dff0d8;
	padding:15px;
}

.error{
	background-color: #f2dede;
	padding:15px;
}
#cm-order-form .cm-form-grid {
  display: grid;
  grid-template-columns: var(--cm-grid-template-columns, 1fr);
  grid-gap: var(--cm-grid-gap, 1rem);
}
#cm-order-form .cm-form-wrap.required > label::after {
  content: '\00a0*';
  color: #7a0000;
}
.cm-products {
	max-width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
/* product list */
.cm-products--list {
	display: grid;
	grid-template-columns: var(--cm-grid-template-columns, 1fr 1fr);
	grid-gap: var(--cm-grid-gap, 1rem);
}
/** product itself */
.cm-product {
	border: 1px solid rgba(0, 0, 0, 0.05);
}
.cm-product--image-wrapper {
	width: 100%;
	padding-bottom: 60%;
	overflow: hidden;
	position: relative;
	margin-bottom: 1rem;
}
.cm-product--image {
	position: absolute;
	width: 100%;
	height: auto;
}
.cm-product--content {
	display: none;
}
.cm-product--header,
.cm-product--content,
.cm-product--footer {
	padding-left: 0.35rem;
	padding-right: 0.35rem;
}
.cm-product--footer,
.cm-form-wrap--remarks {
	padding-bottom: 1rem;
}
@media screen and (min-width: 980px) {
  #cm-order-form .cm-form-grid {
    --cm-grid-template-columns: 1fr 1fr;
  }
  .cm-products--list {
		--cm-grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 576px) {
	#ct_div .col-sm-2 {
		float: left;
		width: 16.666667%;
	}

	#ct_div .col-sm-4 {
		float: left;
		width: 33.333333%;
	}

	#ct_div .col-sm-10 {
		float: left;
		width: 83.333333%;
	}

	#ct_div .col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
}
