.form-table td:first-child{
    width: 25%;
}

.form-table td{
    padding: 5px !important;
    vertical-align: top !important;
}

.form-field input[type="text"], textarea{
    width: 100% !important;
}

span.dashicons-plus-alt{
    color: green;
}

span.dashicons-dismiss, .add_more{
    float: right;
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
    color: red;
}

#wpt_condolence_person_location_side label, #wpt_condolence_person_location_side input{
    display: inline-block;
    width: 100%;
    word-break: break-all;
}

#wpt_condolence_person_location_side label{
    margin-top: 10px;
}

@media (max-width: 782px){
    .form-table td:first-child{
        width: 50%;
    }
}

