.cm-products {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* product section title */
.cm-products--title {
}

/* product list */
.cm-products--list {
    display: grid;
    grid-template-columns: var(--cm-grid-template-columns, 1fr 1fr);
    grid-gap: var(--cm-grid-gap, 1rem);
}

/* product wrapper */
.cm-product--wrapper {
}

/** product itself */
.cm-product {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.cm-product--image-wrapper {
    width: 100%;
    padding-bottom: 60%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.cm-product--image {
    position: absolute;
    width: 100%;
    height: auto;
}

.cm-product--content {
    display: none;
}

.cm-product--header,
.cm-product--content,
.cm-product--footer {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

.cm-product--header {}

.cm-product--footer {
    padding-bottom: 1rem;
}

@media screen and (min-width: 980px) {
    .cm-products--list {
        --cm-grid-template-columns: 1fr 1fr 1fr;
    }
}
