table {
    width: 100%;
    /*padding: 54px;*/
}

/*div.comments, div.comments-list.family_page{
    padding: 0 54px;
}*/
table tbody tr td {
    vertical-align: top;
    border: 0;
}

table tbody tr td.img {
    width: 200px;
}

table tbody tr td img {
    padding-right: 30px;
    width: 200px;
    height: auto;
}

table tbody tr td.text p {
    margin-bottom: 0;
}

.rouw-single table tbody tr td.text .btn.disabled {
    background: lightgrey;
}

table tbody tr td.text p#name {
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    vertical-align: 20px;
}

table tbody tr td.text p#birth, table tbody tr td.text p#death {
    display: inline;
}

table tbody tr td.text #birth ~ #birth:after, table tbody tr td.text #death ~ #death:after {
    content: "\a";
    white-space: pre;
}

table tbody tr td.text p.funeralinformation, table tbody tr td.text p.prayervigilinformation, table tbody tr td.text p.greetinginformation {
    margin-top: 20px;
}

table tbody tr td.text .btn {
    margin-top: 20px;
    background-color: buttonface;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
}

ol.commentlist {
    list-style: none;
    padding-left: 0;
}

ol.commentlist li article {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 20px;
}

ol.commentlist li article footer div.vcard img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

ol.commentlist li article footer div.vcard b.fn {
    margin-left: 15px;
    font-size: 22px;
}

ol.commentlist li article footer div.comment-metadata {
    margin-top: -15px;
    padding-left: 70px;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

ol.commentlist li article footer div.comment-metadata .edit-link {
    display: none;
}

ol.commentlist li article div.comment-content {
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

ol.commentlist li div.comment-respond {
    border: 1px solid #eee;
    padding: 15px;
    border-top: 0;
    background: #eee;
}

ol.commentlist li ul.children {
    list-style: none;
}

ol.commentlist li ul.children li article {
    background-color: #eee;
}

ol.commentlist div.comment-respond {
    display: none;
}

ol.commentlist li div.comment-respond {
    display: block;
}

h3.secondarypage {
    color: #990000;
    margin-top: 0;
}

div.error_box {
    background: #EACCCC;
    padding: 20px;
    border-radius: 4px;
    margin-top: 26px;
}

.ajax-error {
    color: #990000;
}

.succes {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.ajax-success {
    border: solid 2px green;
    border-radius: 5px;
    padding: 8px;
    color: green;
}
